<div class="cont">
     <input (click)="calcula($event)" id="Libra" type="button" class="btnConverter" value="£">
     <input (click)="calcula($event)" id="Dolar" type="button" class="btnConverter" value="$">
     <input (click)="calcula($event)" id="Euro" type="button" class="btnConverter" value="€">
     <input (click)="calcula($event)" id="Iyen" type="button" class="btnConverter" value="¥">
</div>

<div class="legends">
    <p>Libras </p> 
    <p>Real </p>
    <p>Euro </p>
    <p>Yênes </p>
</div><br>


<div class="forms">
     <form class="form">
          <label for="fname">{{ initials }}</label>
          <input (keyup)="saveValue($event)" class="form1" type="text" id="fname" name="fname" value="{{ resultReverse | currency }}">
          
          <label for="lname">BRL: </label>
          <input (keyup)="saveValueReverse($event)" class="form1" type="text" id="lname" name="lname" value=" {{ result | currency: 'R$' }}">
     </form>
</div>