.imgBandeiras{
    border-radius: 50%;
    width: 40px;
}
p{
    color: white;
    font-size: 20px;
}

.inputDolar {    
    padding: 12px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 3px solid rgb(133, 106, 168);
    box-sizing: border-box;
    border-radius: 5px;
}
