<img class="imgBandeiras" src="https://s3-sa-east-1.amazonaws.com/beecambioimages/currency-flags/USD.svg">
<p>Dolar Americano x Real :</p>
<input type="number" class="inputDolar" placeholder="US$5,24" #box (keyup)="cDolarReal($event)">
<p>Resultado = {{nResult | currency:'BRL':'symbol':'3.2-2':'pt'}}</p>


<p> Real x Dolar Americano:</p>
<input type="number" class="inputDolar" placeholder="R$1,00" #box (keyup)="cRealDolar($event)">
<p>Resultado = {{dolarRes | currency:'USD':'symbol':'3.2-2'}}</p>
