a{
    text-decoration: none;
    color: cornsilk;
    cursor: pointer;
}
ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    padding: 18px;
}
li:hover{
    border: 1px solid floralwhite;
    border-radius: 5px;
}

.opcao{
    padding: 10px;
    background-color: cadetblue;
    border: 1px solid cadetblue;
    border-radius: 5px;
    color: aliceblue;
    margin: 10px;
    text-decoration: none;
  }